* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --red-color: red;
    --white-color: #b4b4b4;
    --black-color: #000;
    --shadow-color: rgba(0, 0, 0, 0.24);
    --main-color: #8e44ad;
}

.orders {
    background-color: var(--white-color);
    border-radius: 16px;
    margin-top: 80px;
    color: var(--black-color);
    box-shadow: var(--shadow-color) 0px 3px 8px;
}

.title {
    padding: 32px;
    font-size: 32px;
    text-align: center;
    color: var(--main-color);
    font-weight: 800;
    text-transform: uppercase;
}

.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--main-color);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    width: 92%;
}

.box + .box {
    margin-top: 16px;
}

.box h2 {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    padding: 12px 8px;
    color: var(--main-color);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px;
}

.box-input {
    border: 3px solid var(--main-color);
    border-radius: 8px;
    padding: 8px;
    outline: none;
    width: 150px;
}

.option-btn {
    padding: 8px 32px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 8px;
    margin: 12px 12px;
}