.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28%;
    background-color: #8e44ad;
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 88px;
    color: white;
}