* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --red-color: red;
    --white-color: #b4b4b4;
    --black-color: #000;
    --shadow-color: rgba(0, 0, 0, 0.24);
    --main-color: #8e44ad;
}

.dashboard {
    background-color: var(--white-color);
    border-radius: 16px;
    margin-top: 80px;
    color: var(--black-color);
    box-shadow: var(--shadow-color) 0px 3px 8px;
}

.title {
    padding: 32px;
    font-size: 32px;
    text-align: center;
    color: var(--main-color);
    font-weight: 800;
    text-transform: uppercase;
}

.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--main-color);
    border-radius: 8px;
    margin: 12px;
    padding: 12px;
    cursor: pointer;
}

.box i {
    font-size: 40px;
    color: var(--main-color);
    padding: 16px;
}

.box h3 {
    font-size: 36px;
    font-weight: 700;
    padding: 20px;
}

.box p {
    font-size: 16px;
    font-style: italic;
    background-color: var(--main-color);
    padding: 12px 24px;
    border-radius: 8px;
    color: var(--white-color);
}

.box p:hover {
    background-color: #67327e;
}