.heading3 {
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background: url(../images/heading-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
 }